<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-screen bg-zinc-900 px-10">
        <h3 class="py-2 text-white"> Create User</h3>
        <form action="/create" method="post">
            <input class="px-3 py-2 rounded-md bg-transparent border-2 borde-zinc-800 bg-zing-700 outline-none" type="text" placeholder="username" name="username">
            <input class="px-3 py-2 rounded-md bg-transparent border-2 borde-zinc-800 bg-zing-700 outline-none" type="email" placeholder="email" name="email">
            <input class="px-3 py-2 rounded-md bg-transparent border-2 borde-zinc-800 bg-zing-700 outline-none" type="password" placeholder="password" name="password">
            <input class="px-3 py-2 rounded-md bg-transparent border-2 borde-zinc-800 bg-zing-700 outline-none" type="number" placeholder="age" name="age">
            <input class=" px-5 py-2 bg-blue-500 rounded-md " type="submit" value="Create User">
        </form>
    </div>
</body>
</html>